my-call=
background-color=#2f3432
#dfdfdf
color=#95958e
#111111
form-background=#1b1717
#ffffff
color-table=#babdb6
solid-color=#aaaaaa
font-app=Source Code Pro Regular
#Arial
#Cantarell Light
mode=SSB
band=80
telnet-host=dxfun.com
telnet-port=8000
telnet-call-position=4
telnet-freq-position=3
encodeStandart=utf-8
#iso-8859-2
# отображение окна поиска изображения в интернет
search-internet-window=true
search-internet-left=934
search-internet-top=391
search-internet-width=395
search-internet-height=259
image-width=480
image-height=250
searchInetWindow-opacity=0.95
# отображение окна лога (все QSO)
log-window=true
log-window-left=932
log-window-top=691
log-window-width=397
log-window-height=290
logWindow-opacity=0.95
# отображение окна поиска повторных QSO
log-search-window=true
log-search-window-left=1355
log-search-window-top=757
log-search-window-width=325
log-search-window-height=233
logSearch-opacity=0.95
#отображение главной формы лога (все QSO)
log-form-window=true
log-form-window-left=973
log-form-window-top=77
log-form-window-width=341
log-form-window-height=272
freq-input-window-opacity=0.95
# отображение окна класетра
telnet-cluster-window=true
telnet-cluster-window-left=1351
telnet-cluster-window-top=64
telnet-cluster-window-width=329
telnet-cluster-window-height=633
clusterWindow-opacity=0.95
# включние спотов на панораму ESDR
spot-to-pan=enable
#### настройка фильтра
# включение общего фильтра
cluster-filter=enable
# включение фильтра по префиксу спота
filter-by-prefix=disable
# список префикосов спотов которые допускаются к показу
filter-prefix=
# включение фильтра по префиксу споттера
filter-by-prefix-spotter=disable
# список префиксов споттеров от котрых споты допускаются к показу
filter-prefix-spotter=
# включение фильтра по диапазону
filter_by_band=disable
# список диапазонов споты для которых необходио оображать
list-by-band=160,80,40,20,10,15,12,17
#######
# tci
### tci не выключать!
tci=disable
tci-server=ws://localhost
tci-port=40001
#######
# eqsl_service
eqsl=disable
eqsl_user=
eqsl_password=
eqsl-sent-color=#3d6616
#######
# Diplom-module
diplom=enable
diploms-json=[]
diplom-statistic-window-left=1000
diplom-statistic-window-top=300
diplom-statistic-window-width=500
diplom-statistic-window-height=200
band-plan=bandplan
memory-freq=[]
mode-swl=disable
freq-wnd=enable
#CAT
#don't touch in ver. 1.262
cat=disable
cat-port=ttyS20
cat-parity=None
cat-data=8
cat-stop-bit=1
speed-cat=115200
timeout-cat=0
cat-protocol=ExpertSDR
# club log
clublog=disable
email-clublog=
pass-clublog=
filter-width=600
filter-height=500
### Warning ####
db-host=localhost
#localhost
db-user=linuxlog
#linuxlog
db-pass=Linuxlog12#
#
db-name=
#linuxlog
db-charset=utf8mb4
#utf8mb4
# name of json file with country list
country-file=country
