my-call=
background-color=#373737
#dfdfdf
color=#77767b
#111111
form-background=#853d08
#ffffff
color-table=#62a0ea
solid-color=#aaaaaa
font-app=Source Code Pro Regular
#Arial
#Cantarell Light
mode=SSB
band=40
telnet-host=dxfun.com
telnet-port=8000
telnet-call-position=4
telnet-freq-position=3
encodeStandart=utf-8
#iso-8859-2
# отображение окна поиска изображения в интернет
search-internet-window=True
search-internet-left=282
search-internet-top=381
search-internet-width=345
search-internet-height=269
image-width=480
image-height=250
searchInetWindow-opacity=0.95
# отображение окна лога (все QSO)
log-window=True
log-window-left=1
log-window-top=689
log-window-width=626
log-window-height=359
logWindow-opacity=0.95
# отображение окна поиска повторных QSO
log-search-window=True
log-search-window-left=0
log-search-window-top=382
log-search-window-width=280
log-search-window-height=266
logSearch-opacity=0.95
#отображение главной формы лога (все QSO)
log-form-window=True
log-form-window-left=285
log-form-window-top=69
log-form-window-width=341
log-form-window-height=272
freq-input-window-opacity=0.95
# отображение окна класетра
telnet-cluster-window=True
telnet-cluster-window-left=2
telnet-cluster-window-top=70
telnet-cluster-window-width=279
telnet-cluster-window-height=271
clusterWindow-opacity=0.95
# включние спотов на панораму ESDR
spot-to-pan=enable
#### настройка фильтра
# включение общего фильтра
cluster-filter=enable
# включение фильтра по префиксу спота
filter-by-prefix=disable
# список префикосов спотов которые допускаются к показу
filter-prefix=
# включение фильтра по префиксу споттера
filter-by-prefix-spotter=disable
# список префиксов споттеров от котрых споты допускаются к показу
filter-prefix-spotter=
# включение фильтра по диапазону
filter_by_band=enable
# список диапазонов споты для которых необходио отображать
list-by-band=40
#######
# tci
### tci не выключать!
tci=enable
tci-server=ws://localhost
tci-port=40001
#######
# eqsl_service
eqsl=enable
eqsl_user=
eqsl_password=
eqsl-sent-color=#1a3e1a
#######
# Diplom-module
diplom=disable
diploms-json=[]
diplom-statistic-window-left=1000
diplom-statistic-window-top=300
diplom-statistic-window-width=500
diplom-statistic-window-height=200
band-plan=bandplan
memory-freq=["7.065.000 Hz", "7.107.000 Hz", "7.108.000 Hz"]
mode-swl=disable
freq-wnd=enable
#CAT
#don't touch in ver. 1.262
cat=disable
cat-port=ttyS20
cat-parity=None
cat-data=8
cat-stop-bit=1
speed-cat=115200
timeout-cat=0
cat-protocol=ExpertSDR
# club log
clublog=disable
email-clublog=
pass-clublog=
filter-width=600
filter-height=500
### Warning ####
db-host=localhost
#localhost
db-user=linuxlog
#linuxlog
db-pass=Linuxlog12#
#
db-name=linuxlog
#linuxlog
db-charset=utf8mb4
#utf8mb4
# name of json file with country list
country-file=country
coordinate-profile=[{"search-internet-left": "1335", "search-internet-top": "71", "search-internet-width": "345", "search-internet-height": "269", "log-window-left": "517", "log-window-top": "215", "log-window-width": "467", "log-window-height": "127", "log-search-window-left": "516", "log-search-window-top": "71", "log-search-window-width": "469", "log-search-window-height": "104", "log-form-window-left": "990", "log-form-window-top": "71", "log-form-window-width": "341", "log-form-window-height": "272", "telnet-cluster-window-left": "86", "telnet-cluster-window-top": "71", "telnet-cluster-window-width": "425", "telnet-cluster-window-height": "269", "log-search-window": "True", "telnet-cluster-window": "True", "search-internet-window": "True", "name": "SSB"}, {"search-internet-left": "282", "search-internet-top": "381", "search-internet-width": "345", "search-internet-height": "269", "log-window-left": "1", "log-window-top": "689", "log-window-width": "626", "log-window-height": "359", "log-search-window-left": "0", "log-search-window-top": "382", "log-search-window-width": "280", "log-search-window-height": "266", "log-form-window-left": "285", "log-form-window-top": "69", "log-form-window-width": "341", "log-form-window-height": "272", "telnet-cluster-window-left": "2", "telnet-cluster-window-top": "70", "telnet-cluster-window-width": "279", "telnet-cluster-window-height": "271", "log-search-window": "True", "telnet-cluster-window": "True", "search-internet-window": "True", "name": "Vertical"}]
active-profile=Vertical
cw-cq-string=cq cq
cw-answer-string=%CALL% de %OPERATOR% %RST_S% %RST_R% %NAME% %QTH% k
cw-final-string=73 de %OPERATOR%
cw-user-string1=%CALL% de %OPERATOR% %RST_S% %RST_S% %MY-NAME% %MY-QTH% k
cw-user-string2=73!
wpm=23
cw=False
cw-top=407
cw-left=265
cw-width=474
cw-height=236
my-name=Sergey
my-qth=Kharkiv
qrz-com=https://www.qrz.com/lookup
qrz-none=qrz_com200x150.jpg
qrz-ru=http://api.qrz.ru/callsign
